<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <!-- '-' is used for rendering html, '=' for javascript -->
    <h1>Welcome, <%= user.name %></h1>
    <h2>Your email is: <%= user.email %></h2>
    <h2>Skills is:</h2>
    <ul>
        <!-- And nothing when directly writing js -->
        <% user.skills.forEach((item) => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>